@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style=" background-size:cover; background-repeat:no-repeat; min-height:900px; background-image:url(../../images/Travel-to-Lahore111.jpg)">
    <div class="container" style="margin-top:30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="aboutHead"><span class="aboutUs">About Us</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="aboutheading"><span class="aboutUs">About the Company</span></div>
                <p class="abouttext">The Lazy Lahore group is the leading online food delivery service in emerging markets. It enables restaurants to become visible in the online and mobile world and provides them with an industry leading software and technology to generate additional demand. For consumers, Lazy Lahore offers the convenience to order food online and the widest gastronomic range, from which they can choose their favourite meal via app or online with a few fingertips.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="aboutHead">
                    <div><span class="aboutheading">Get to know Lazy Lahore</span></div>
                    <div>
                        <p class="abouttext">Lazy Lahore offers all services, be it finding restaurants, ordering food online for delivery, under one hub using propriety technology with only the best restaurants on highest possible discounts.</p>
                    </div>
                    <div><span class="aboutheading">Choose Lazy Lahore</span></div>
                    <div>
                        <p class="abouttext">There are numerous reasons to choose Lazy Lahore, for your one-stop foodie services:</p>
                        <ul class="abouttext" style="line-height:2">
                            <li>Order food online from a vast range of 1,00+ restaurants across the city</li>
                            <li>Enjoy weekly discounts up to 50% on your favorite and new restaurants</li>
                            <li>User friendly website makes order placing process easy</li>

                        </ul>
                        <p class="abouttext">To find restaurants around you, simply enter your area in the tab and click on Search to reveal available restaurants for delivery. Deepen your search by filtering through cuisines and deals to make the most out of your eating experience.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="aboutHead">
                    <div><span class="aboutheading">24/7 online food ordering</span></div>
                    <div><p class="abouttext">lazy Lahore enables diners to order food online and pay better prices at great restaurants. Join the 100s of smart diners who order food in style using our service every day.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

