@model FoodDelivery.WebApp.Models.EmailFormModel
@using (Html.BeginForm("ForgotPassword", "Home", null, FormMethod.Post, new { id = "validateloginform" }))
{
    <div class="form-group">
        <label for="phone"><span class="glyphicon glyphicon-user"></span> Email</label>
        @Html.TextBoxFor(m => m.Email, new { id = "phonetxt", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, null, new { style = "color:red" })
    </div>

    <button type="submit" id="btnEmail" class="btn btn-custom1 btn-block"><span class="glyphicon glyphicon-off"></span> Send</button>
}
