@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>layout</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .footer {
            height: 350px;
            background-color: #ff6a00;
            background: url("../../images/main_footer.jpg");
            background-repeat: repeat-x;
            background-size: contain;
        }

        .test {
            background-color: #A70000;
            min-height: 100px;
        }


        #container {
            background-color: #ffd800;
        }

        .container-fluid1 {
            min-height: 200px;
            background-color: lavenderblush;
        }

        .table tr td {
            max-width: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .table {
            height: 300px;
            width: 100%;
        }

            .table tr {
                width: 100%;
                display: inline-table;
            }

            .table tbody {
                height: 100px;
                width: 100%;
                overflow-y: scroll;
                position: absolute;
            }

        #mainpic {
            width: 100%;
            background-image: url("../../images/head1.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            position: relative;
            height: 600px;
        }

        #mainsearch {
            width: 700px;
            height: 300px;
            background-color: #000000;
            position: relative;
            top: 100px;
            opacity: 0.8;
        }

        .details {
            background: url("../../images/pattern.png");
            height: 500px;
        }

        .catdiv {
            background: url("../../images/blog-bg.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
            position: relative;
        }

            .catdiv:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url("../../images/overlay-pattern.png") #000000;
                opacity: 0.4;
            }

        .btn-info {
            background: #BF2413;
            color: #ffffff;
            border-color: #BF2413;
        }

            .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
                background: #E32510;
                border-color: #E32510;
            }
    </style>
</head>
<body>








    <div class="container-fluid" id="mainpic">
        <div class="container" style=" margin-top:30px">
            <button id="log" type="button" class="btn btn-info" style="float:right;" data-target="#mymodal" data-toggle="modal">Login / Register</button>

            <div class="modal fade" id="mymodal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-lock"></span>Login</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                                    <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                    <input type="text" class="form-control" id="psw" placeholder="Enter password">
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" checked>Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                            <p>Not a member? <a href="#">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="mainsearch" class="container">

            </div>*@

    </div>

    <div class="container-fluid details">


    </div>
    <div class="container-fluid catdiv">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-family: 'Brush Script MT', cursive; color:#ffffff; font-size:60px; text-align:center; ">Search By Cuisines</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"><a href="#"><img class="img-responsive hov" src="~/images/slider-img-1.jpg" /></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive" src="~/images/slider-img-2.jpg" /></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive" src="~/images/slider-img-3.jpg" /></a></div>
            </div>
            <div class="row">
                <div class="col-md-4"><a href="#"><img class="img-responsive" src="~/images/slider-img-1.jpg" /></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive" src="~/images/slider-img-2.jpg" /></a></div>
                <div class="col-md-4"><a href="#"><img class="img-responsive" src="~/images/slider-img-3.jpg" /></a></div>
            </div>
        </div>
    </div>








    @RenderBody()


    <div class="container-fluid footer">
        <h1>footer</h1>
    </div>

    <script>

    </script>
</body>
</html>
